<!-- IF S_SCEDITOR -->
<!-- INCLUDEJS @cosmo_sceditor/js/jquery.sceditor.bbcode.min.js -->
<script type="text/javascript">
	var max_fontsize = {MAX_FONTSIZE};
	$(function () {
		// Replace all textarea's
		// with SCEditor
		$("textarea").sceditor({
			plugins: "bbcode",
			<!-- IF S_QUICK_REPLY -->
			toolbar: "bold,italic,underline,strike|code,quote,removeformat|source",
			<!-- ELSE -->
			toolbarExclude: "emoticon",
			<!-- ENDIF -->
			emoticonsRoot: "{U_EMOTICONS_ROOT}",
			emoticons: {
				dropdown: { <!-- BEGIN emoticons -->
					"{emoticons.code}": "{emoticons.url}"<!-- IF !emoticons.S_LAST_ROW -->,<!-- ENDIF -->
					<!-- END emoticons -->
				}
			},
			style: '{U_CSS}?assets_version={T_ASSETS_VERSION}'
		});

		// Fix the position of the editor layer
		$('.sceditor-container:eq(0)').css('z-index', 1);
		$('#notification_list').css('z-index', 20);
	});
</script>
<!-- INCLUDEJS @cosmo_sceditor/js/sce.js -->
<!-- ENDIF -->