<!-- IF S_SCEDITOR -->
<!-- INCLUDEJS @cosmo_sceditor/js/jquery.sceditor.bbcode.min.js -->
<!-- IF L_SCEDITOR_LANG --><!-- INCLUDEJS @cosmo_sceditor/js/languages/{L_SCEDITOR_LANG}.js --><!-- ENDIF -->
<script type="text/javascript">
	var max_fontsize = {MAX_FONTSIZE},
	<!-- IF S_SMILIES_ALLOWED -->
			smiliesCheckbox,
	<!-- ENDIF -->
			sourceButton, sourceButtonAvailable,
	<!-- IF S_BBCODE_ALLOWED -->
			sourceCheckbox,
			currentSourceMode,
	<!-- ENDIF -->
			sceInstance;
	$(function () {
		// Replace all textarea's
		// with SCEditor
		$("textarea").sceditor({
			plugins: "bbcode",
			<!-- IF S_QUICK_REPLY -->
			toolbar: "bold,italic,underline,strike|code,quote,removeformat|source",
			<!-- ELSE -->
			toolbarExclude: "emoticon",
			<!-- ENDIF -->
			<!-- IF S_SMILIES_ALLOWED -->
			emoticonsRoot: "{U_EMOTICONS_ROOT}",
			emoticons: {
				dropdown: { <!-- BEGIN emoticons -->
					"{emoticons.code|escape('js')}": "{emoticons.url}"<!-- IF !emoticons.S_LAST_ROW -->,<!-- ENDIF -->
					<!-- END emoticons -->
				}
			},
			<!-- ELSE -->
			emoticonsEnabled: false,
			<!-- ENDIF -->
			style: '{U_CSS}?assets_version={T_ASSETS_VERSION}'
		});

		// Fix the position of the editor layer
		$('.sceditor-container:eq(0)').css('z-index', 1);
		$('#notification_list').css('z-index', 20);

		// Set used nodes (mostly checkboxes)
		sceInstance = $('textarea').sceditor('instance');
		sourceButton = $('a.sceditor-button-source');
		sourceButtonAvailable = !!sourceButton.length;
		<!-- IF S_BBCODE_ALLOWED -->
		sourceCheckbox = $('#disable_bbcode');
		<!-- IF not S_BBCODE_CHECKED eq '' -->
		sceInstance.sourceMode(true);
		<!-- ENDIF -->
		sourceCheckbox.on('click', function() {
			if (sourceCheckbox.is(':checked')) {
				// We need this to know if we have to go back to WYSIWYG or not
				currentSourceMode = sceInstance.sourceMode();
				sceInstance.sourceMode(true);
				if (sourceButtonAvailable) {
					sourceButton.hide();
				}
			}
			else {
				// Only back to WYSIWYG if it was active before
				if (!currentSourceMode) {
					sceInstance.sourceMode(false);
				}
				if (sourceButtonAvailable) {
					sourceButton.show();
				}
			}
		});
		<!-- ELSE -->
		if (sourceButtonAvailable) {
			sourceButton.hide();
		}
		sceInstance.sourceMode(true);
		<!-- ENDIF -->
		<!-- IF S_SMILIES_ALLOWED -->
		smiliesCheckbox = $('#disable_smilies');
		<!-- IF not S_SMILIES_CHECKED eq '' -->
		sceInstance.emoticons(false);
		<!-- ENDIF -->
		smiliesCheckbox.on('click', function() {
			if (smiliesCheckbox.is(':checked')) {
				sceInstance.emoticons(false);
			}
			else {
				sceInstance.emoticons(true);
			}
		});
		<!-- ENDIF -->
	});
</script>
<!-- INCLUDEJS @cosmo_sceditor/js/sce.js -->
<!-- ENDIF -->